<div class="container">
  <div class="row">
    <h5>
    Merge TalkingMaps JSON on the fly
    </h5>
    <input class="form-control" type="text" id="title" value="merged_json"/>
  </div>

  <div class="row">
      <div id="inputs">
        <h5>JSON to merge:</h5>
        <input type="file" class="file_in" style="" accept=".json"/>
        <textarea id="firstjson" placeholder="Logo and Main title plus global proprieties from this first json input.. copy here your json" class="form-control jsonin" rows="4" cols="50"></textarea>
      </div>
  </div>

  <div id="buttons" class="row">
      <button class="btn btn-success" type='button' id='add'><i class="fas fa-plus-square"> Add</i></button>
      <button class="btn btn-warning" type='button' id='remove'><i class="fas fa-trash-alt"> Remove</i></button>
      <button class="btn btn-info" type='button' id='merge'><i class="fas fa-object-group"> Merge</i></button>
  </div>
  <div class="row">
    <h5>JSON Merged:</h5>
    <textarea id="json_out" class="form-control" rows="4" cols="50" style="width:100%;"></textarea>
    <button class="btn btn-dark" type='button' id='copy'><i class="fas fa-file-download"></i></button>
  </div>
</div>

<style>
#inputs{
  width:100%;
  display:block;
  padding:5px;
}

#buttons{
  display: inline-block;
    width: 100%;
    text-align: center;
}

#firstjson, #json_out{
  background-color:rgb(245, 255, 233);;
}

.jsonin{
  margin:5px;
  width:100%;
  display:block;
}

#copy {
      height: 40px;
    width: 80px;
    margin-top: -40px;
    /* float: right; */
    position: relative;
    margin-right: 0;
    margin-left: calc(100% - 80px);
    border-radius: 5px 0 5px 0;
}
</style>

<script>
var json_merged;
var jsontitle = 'merged_json';
var lastslide = 1;
var lastslidem = 1;
var counter = 0;
var gm_counter = 0;

$(document).ready(function(){

	enableUpload();

  $('#add').on('click',function(){
    $('#inputs').append('        <input type="file" class="file_in" style="" accept=".json"/>\
  <textarea class="form-control jsonin" rows="4" cols="50" ></textarea>')
  enableUpload();
  })

  $('#remove').on('click',function(){
    $('.jsonin:not(:first)').last().remove();
    $('.file_in:not(:first)').last().remove();
  })


  $('#copy').on('click',function(){
    var title  = $('#title').val();
    download($('#json_out').val(), title+'.json', 'text/plain');
  })

  $('#merge').on('click',function(){

    counter = 0
    gm_counter = 0
    lastslide = 1;
    lastslidem = 1;
    json_merged = {};
    jsontitle = $('#title').val();
    json_merged = {};

    $('.jsonin').each(function(){

      var json = IsJsonString( $(this).val() );

      if (json){

        var title = Object.keys(json)[0];
        var tmjson = json[title];

        //retrieve global options and title from first json and initialize merged json
        if (counter == 0){

          if (tmjson.hasOwnProperty("GlobalOptions")){
            json_merged["GlobalOptions"] = tmjson["GlobalOptions"]
          }
          if (tmjson.hasOwnProperty("GlobalContents")){
            json_merged["GlobalContents"] = { 'title' : tmjson["GlobalContents"]["title"] }
          }
          //create main objects
          json_merged["GlobalContents"]["floatings"] = {};
          json_merged["GlobalContents"]["mains"] = {};
          json_merged["GlobalContents"]["maps"] = {};
          json_merged["GlobalContents"]["iframes"] = {};
          json_merged["GlobalMaps"] = {};

          counter+=1;
        }

        //merge all other keys renaming slides properly ...
        mergeJson(tmjson);

      }

    })

    var json_final = {}
    json_final[jsontitle] = json_merged;
    $('#json_out').val( JSON.stringify( json_final ) )

  })

})



function download(content, fileName, contentType) {
    var a = document.createElement("a");
    var file = new Blob([content], {type: contentType});
    a.href = URL.createObjectURL(file);
    a.download = fileName;
    a.click();
}

function IsJsonString(str) {
		var json = false;
    try {
        json = JSON.parse(str);
    } catch (e) {
        return false;
    }
    return json;
}

function mergeJson(json){


	//merge floatings
  const float_prefix = "slide-";
	const keys = Object.keys(json["GlobalContents"]["floatings"])
  for (const key of keys) {
    div_id = float_prefix + zeroPad(lastslide, 3);
    json_merged["GlobalContents"]["floatings"][div_id] = json["GlobalContents"]["floatings"][key];
    lastslide+=1;
  }

  //merge mains
  const mains_prefix = "slide_main-";
	const mkeys = Object.keys(json["GlobalContents"]["mains"])
  for (const mkey of mkeys) {
    div_id = mains_prefix + zeroPad(lastslidem, 3);
    json_merged["GlobalContents"]["mains"][div_id] = json["GlobalContents"]["mains"][mkey];

    //check if main slide reference to maps or iframes
      //merge maps
	    if ( json["GlobalContents"]["maps"].hasOwnProperty(mkey) ){
    		json_merged["GlobalContents"]["maps"][div_id] = json["GlobalContents"]["maps"][mkey];

        //merge GlobalMaps
				gmap = extractGlobalMapsIds(json["GlobalMaps"],mkey,div_id)
        if (gmap){
        	json_merged["GlobalMaps"][gm_counter.toString()] = gmap;
	        gm_counter+=1;
        }
    	}
      //merge iframes
	    if ( json["GlobalContents"]["iframes"].hasOwnProperty(mkey) ){
    		json_merged["GlobalContents"]["iframes"][div_id] = json["GlobalContents"]["iframes"][mkey];
    	}

    lastslidem+=1;
  }

}

function zeroPad(num, places) {
  return String(num).padStart(places, '0')
}

function extractGlobalMapsIds(obj,match,replace){

	var output = false;
  for ( const key of Object.keys(obj) ){
  	if (obj[key]['div_id'] == match) {
    	output = { "div_id" : replace, "map" : obj[key]['map'] }
    }
  }

  return output;

}

function enableUpload(){

$('.file_in').on('change',function(){

	 var output = $(this).next()[0];
   console.log(this);
   console.log($(this));
   console.log($(this).next());

  if (this.files && this.files[0]) {
    var myFile = this.files[0];
    var reader = new FileReader();

    reader.addEventListener('load', function (e) {
      output.textContent = e.target.result;
    });

    reader.readAsBinaryString(myFile);
  }

})
}

</script>
